doctype html
html
    head
        <script src="https://kit.fontawesome.com/54cc31c86b.js" crossorigin="anonymous"></script>
        title #{pageTitle} | #{siteName}
    body
        h1 <i class="fab fa-youtube"></i> #{siteName}
        include ../partials/header    
        main
            block content
        include ../partials/footer